body
{
	display: inline-block;
	margin: 0px;
	
}
#logo
{
	
	width: 120px;
	height: 50px;

}
#topinfo
{
	display:inline-block;
	width: 1200px;
	text-align: right;
}
#topinfo ul
{
	list-style-type:none;
	
}

#topinfo li
{
	float: right;
	/*margin-right: 15px;*/
	
}
#topinfo a
{
	font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

#foule
{
	background-color: black;
	border: 3px solid black;
	height: 75px;	
}

#foule ul
{
	list-style-type:none;
	
}

#socialmedia
{
	float:right;
	
	
}

#menu ul li a
{
	color:white;
}
#dancingfoule
{
	width: 100%;
}

#foule li
{
	display: inline-block;
	margin-right: 15px;
	
}
#foule a
{
	font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

#linkedin
{
	width: 50px;
	height: 50px;
}

#twitter
{
	width: 50px;
	height: 50px;
}
#youtube
{
	width: 50px;
	height: 50px;
}

section
{
	border-top: 3px solid #bcbe00;	
}

strong
{
	color:#bcbe00;
}

h2
{
	color:#bcbe00;
}
#morse
{
	
	width: 20%;
	height: 20%;
	/*right:400px;*/
}
aside
{
		
	background-color:#171717;
	color: white;
	font-size: 0.7em;
}
	
#contact
{
	border-top: 3px solid #bcbe00;
}

#law a
{
	font-size: 1em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
    
}

#law
{
	text-align:right;
}

#morse
{
	float: right;
	border: 2px solid black;
	/*margin-left: 800px;
	vertical-align:top;*/
	
	
}

#latin
{
	display:inline-block;
	border: 2px solid black;
	margin-right: 300px;
}

#menu
{
	float:left;
}




